nav {
  position: sticky;
  top: 13px;
  backdrop-filter: blur(13px);
  background-color: rgba(0, 0, 0, 0.418) !important;
  border-radius: 14px;
  color: var(--main-color);
  padding: 0px;
  height: fit-content;
  z-index: 999;
  margin-bottom: 35px;
}

nav ul li {
  /* padding-left: 14px; */
  color: white;
  width: fit-content;
  line-height: 1.5;
}
.nav-but {
  border: solid 1px var(--main-color);
  font-size: 22px;
  border-radius: 8px;
  cursor: pointer;
}
nav ul li a {
  color: inherit;
  font-size: 1.2rem;
  text-decoration: none;
}

nav ul {
  height: fit-content;
  overflow: hidden;
  list-style-type: none;
  padding-inline-start: 0px;
  transition: 0.5s;
}

@media (max-width: 767.98px) {
  nav ul {
    height: 0px;
  }
  .navbar-but-clicked {
    height: 150px !important;
  }
}

.nav-but {
  height: fit-content;
  width: fit-content;
}

.active {
  color: #00ffe5 !important;
  border-bottom: solid;
}
