body {
  background-image: url(../imgs/header.jpg);
  background-size: contain;
}
.nav-item {
  padding-left: 15px;
  font-size: 1.3rem;
}

.navbar-but {
  overflow: hidden;
  transition: 0.5s;
  /* height: 250px; */
  height: 0px;
}

.landing {
  background-image: url(../imgs/header.jpg);
  background-size: cover;
  height: calc(100vh);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -47px;
  text-shadow: 7px 17px 7px black, 0px 0px 20px black;
}

.landing h1 {
  color: var(--main-color);
  font-size: 4rem;
}

.landing p {
  text-wrap: wrap;
  font-size: 1.5rem;
  width: 51%;
  margin: auto;
  color: white;
  text-align: center;
}

@media (max-width: 767.98px) {
  .card {
    max-height: fit-content;
  }
}

.card {
  max-height: fit-content;
  height: 85vh;
}
.card img {
  height: 70%;
}

.cart-butn-flut {
  padding: 10px;
  width: fit-content;
  position: sticky;
  font-size: 2rem;
  left: 15px;
  top: 85dvh;
  z-index: 9999;
  background-color: #73e5d9;
  border-radius: 16px;
  border: 1px solid var(--bs-cyan);
  box-shadow: 0px 3px 3px var(--main-color);
}

.cart-butn-flut a {
  color: #000000eb;
}
