body {
  background-image: url(../imgs/header.jpg);
  background-size: contain;
}
.active {
  color: var(--main-color) !important;
}

.landing {
  background-image: url(../imgs/header.jpg);
  background-size: cover;
  height: calc(100vh);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -47px;
}

.landing h1 {
  color: var(--main-color);
  font-size: 4rem;
}

.landing p {
  text-wrap: wrap;
  font-size: 1.5rem;
  width: 51%;
  margin: auto;
  color: white;
  text-align: center;
}
