body {
  background-image: url(../imgs/header.jpg);
  background-size: contain;
  min-height: 100vh;
  padding-bottom: 15vh;
}
.shopping-cart {
  border-radius: 8px;
  background-color: #eee;

  margin: auto;
}

.shopping-cart h2 {
  color: var(--main-color);
}
.info input {
  width: 80vw;
  max-width: 400px;
}

.butn-delete {
  height: fit-content;
  width: fit-content;
  padding: 10px;
  margin: 2px;
  background-color: #dc3545;
  border-radius: 8px;
  cursor: pointer;
}

.btns,
.count {
  outline: none;
  border-radius: 8px;
  border: none;
}

.count {
  width: 100px;
}

.plus-btn {
  background-color: var(--bs-success);
}

.minus-btn {
  background-color: #dc3545;
}

.items {
  position: relative;
  height: 25vh;
  display: block;
  overflow: hidden;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0px 0px 8px black;
  margin-bottom: 10px;
}

.items img {
  width: 200px;
  height: 165px;
}

.price {
  width: 100px;
  border-radius: 8px;
}

.price.fs-5 {
  width: fit-content;
}

@media only screen and (max-width: 600px) {
  .butn-delete {
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translate(25%, 32%);
  }

  .items {
    height: 50vh;
    min-height: fit-content;
    padding: 10px 0px;

    min-height: 400px;
  }

  .total-cart-price {
    width: 100%;
    position: sticky;
    z-index: 99;
    background-color: rgb(226 226 226);
    text-align: center;
    left: 25%;
    top: 13vh;
    border-radius: 12px;
    box-shadow: 0px 0px 13px var(--main-color);
  }

  .total-cart-price label,
  .total-cart-price input {
    margin: auto;
    width: 100px;
  }
}

.cart-font {
  font-size: 7rem;
}

.item {
  position: relative;
  height: fit-content;
  display: block;
  overflow: hidden;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0px 0px 8px black;
  margin-bottom: 10px;
  border-radius: 8px;
}
.err {
  color: red;
}
* {
  transition: 0.5s;
}

.item {
  background-color: #eee;
}

.btn-add-product {
  background-color: var(--main-color);
}

.btn-add-product:hover,
.btn-add-product:focus {
  background-color: var(--bs-teal);
}

.checkout {
  background-color: #11c471;
}

.checkout:hover,
.checkout:focus {
  background-color: var(--bs-green);
}

.order {
  background-color: var(--main-color);
}

.order:hover,
.order:focus {
  background-color: #11c471;
}

.payment {
  background-color: #eee;
  border-radius: 8px;
  transition: 1s;
}

.payment .shopping-cart {
  width: fit-content;
}

.orders-history {
  border-radius: 8px;
  background-color: #eee;
  /* background-color: #3e4451; */
}

.orders-history h2 {
  color: var(--main-color);
}

.order_items p {
  min-width: 50vw;
  font-size: 16px;
  /* border-bottom: solid 1px var(--main-color); */
  box-shadow: 0px 3px 15px #10cab7;
  border-radius: 4px;
  padding: 2px 15px;
}

.order_items > div {
  margin: 0px auto 5px !important;
}

.order-item > div {
  margin: 0px auto 5px;

  border-bottom: solid 3px var(--main-color);
}

.item-order {
  flex-wrap: wrap;
}

.order-item {
  padding: 10px 15px;
  width: fit-content;
  margin: 5px auto 10px !important;
  box-shadow: 1px 1px 5px #0000004f;
  border-radius: 11px;
}

.order-item img {
  border-radius: 10px;
  width: 40%;
}

@media only screen and (max-width: 600px) {
  .order-item > div {
    width: 80vw;
  }
}

input.count::-webkit-outer-spin-button,
input.count::-webkit-outer-spin-button {
  appearance: none;
}

input.count {
  appearance: textfield;
}
