/* Start Variables */
:root{
  --main-color: #10cab7;
  --secondary-color: #2c4755;
}

/* End Variables */


/* Start Global Rules */
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body{
  font-family: "Work Sans", sans-serif;
  
}
.contanier{
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  /* width: 600px;  // don't use with @media  */
  margin-right: auto;
  margin-left: auto;
}


/*  Small */
@media (min-width:768px){
  .contanier{
    width: 750px;
  }
}

/* Medium */
@media (min-width:992px){
  .contanier{
    width: 950px;
  }
}

/* larg */
@media (min-width:1200px){
  .contanier{
    width: 1170px;
  }
}

/* End Global Rules */


/* Start Components */
.special-heading{
  font-size: 100px;
  text-align: center;
  font-weight: 800;
  letter-spacing: -4px;
  color: #ebeced;
  margin: 0px;
}

.special-heading + p{
  margin-top: -20px;
  text-align: center;
  font-size: 20px;
  color: #797797;
}

@media (max-width: 767px){
.special-heading{
  font-size: 60px;

}
}

/* End Components */




/* Start Header */
header{
  padding: 20px;

}
header .contanier{
  display: flex;
  justify-content: space-between;
  align-items:center; 
}

header .logo{
  width: 60px;
}

header .links{
  position: relative;
}
header .links .icon{
  width: 30px ;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

header .links .icon span{
  background-color: black;
  margin-bottom: 5px;
  height: 2px;
}
header .links .icon span:first-child{
  width: 100%;
}

header .links .icon span:nth-child(2){
  width: 60%;
  transition: 0.3s;
}
header .links .icon span:last-child{
  width: 100%;
}

header .links:hover .icon span:nth-child(2){
  width: 100% ;
}


header .links ul{
  list-style: none;
  padding: 0px;
  margin: 0px;
  background-color: #F6f6f6;
  position: absolute;
  right: 0%;
  min-width: 200px;
  top: calc(100% + 15px);
  display: none;
  z-index: 2;
}
header .links ul::before{
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #F6f6f6 transparent;
  position: absolute;
  right: 5px;
  top: -20px;
  

}

header .links ul li a{
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
  transition: 0.3s;
}
header .links ul li a:hover{
  padding-left: 25px;
  background-color: #49607570;
}
header .links ul li:not(:last-child) a{
  border-bottom:1px #eee solid ;
}
header .links:hover ul{
  display: block;
}
/* End Header */


/* start Landing  */
.landing{
  padding: 20px;
  background-image: url(../imgs/mount-everest.jpg);
  background-size: cover;
  height: calc(100vh - 64px);
  position: relative;
}
.landing .intro-text {
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  width: 360px;
  max-width: 100%;
  transform: translate(-50% , -50%);


}
.landing .intro-text h1{
  margin: 0px;
  color: var(--main-color);
  font-weight: bold;
}
.landing .intro-text p{
  font-size: 19px;
  line-height: 1.9;
}
/* End Landing  */

/* Start Feauter */
.features{
  background-color:#f6f6f6 ;
  padding-top: 60px;
  padding-bottom: 60px;

}

.features .contanier{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  grid-gap: 20px;
}

.features .contanier .feat{
  padding: 20px;
  text-align: center;
  transition: 0.3s;
}

.features .contanier .feat i{
  color: var(--main-color);
}

.features .contanier .feat h3{
  font-weight: 800;
  margin: 30px;
  
}

.features .contanier .feat p{
  line-height: 1.8;
  color: #777;
  font-size: 17px;
}

.features .contanier .feat:hover{
  box-shadow: black 0px 1px 7px -1px;
}
/* End Featuer */

/* Start Seevices */

.services{
  padding-top:60px ;
  padding-bottom:60px ;
}
.services .services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  gap: 30px;
  -webkit-column-gap:30px ;
  margin-top: 100px;
}

.services .services-content .col .srv{
  display: flex;
  margin-bottom: 40px;
}

@media (max-width:767px){
.services .services-content .col .srv{
  flex-direction: column;
  text-align: center;
}
}

.services .services-content .col .srv i{
  color: var(--main-color);
  flex-basis: 60px;
}

.services .services-content .col .srv .text{
  flex: 1;
}
.services .services-content .col .srv .text h3{
  margin: 0 0 20px;
}

.services .services-content .col .srv .text p{
  color: #444;
  font-weight: 300px;
  line-height: 1.6;
}
.services .services-content .col .image{
  text-align: center;
  position: relative;
} 

.services .services-content .col .image::before{
  content: "";
  position: absolute;
  background-color: var(--secondary-color);
  width: 100px;
  height: calc(100% + 100px );
  right: 0;
  top: -50px;
  z-index: -1;
}

.services .services-content .col .image img{
  width: 260px;
  
}

@media (max-width:767px){
  .image-heading{
    display: none;
  }
}

.services .services-content .col .raghad{
  color: #010000;
  font-weight: 400;
  font-size: 20px;
}
/* End Seevices */  